html , body {
      margin : 0;
      padding : 0;
      width: 100%;
}
nav {
      position: fixed;
      width: 100%;
      line-height: 15px;
      background-color: rgba(16,16,16,1);
      font-family: 'Montserrat', sans-serif;
}
nav ul li {
      display: inline-block;
      padding: 0px 100px;
}
nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
.bgcr2 {
	position: fixed;
	width: 80%;
	left: 0%;
}
.header {
	position: absolute;
	top: 8%;
	left: 5%;
	font-family: 'Montserrat', sans-serif;
	color: yellow;
	font-size: 50px;
	font-weight: bold;
}
.content1 {
	position: absolute;
	top: 18%;
	left: 5%;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.content1::selection {
	background: transparent;
}
.content2::selection {
	background: transparent;
}
.square {
      position: absolute;
      top: 7%;
      width: 100%;
      height:210%;
      background: rgba(30,30,30,0.8);
}
.inf1 {
	color: yellow;
	font-weight: bold;

}
.inf2 {
	color: white;
	font-weight: bold;
}
.styles {
	position: absolute;
	top: 90%;
	left: 5%;
	font-family: 'Montserrat', sans-serif;
	color: yellow;
	font-size: 50px;
	font-weight: bold;

}
.content2 {
	position: absolute;
	top: 100%;
	left: 5%;
	color: white;
	font-family: 'Montserrat', sans-serif;
}